body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .container-navegador {
    background-color: #F79A0A;
}

header .container-navegador-imagen img {
    width: 150px;
    height: 150px;
}

header .container-navegador-enlaces a {
  text-decoration: none;
  display: inline;
  color: black;
}

header .container-paginas {
    background-color: #F9C87C;
}














footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #F79A0A;
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .left li {
    margin: 10px 0;
}

footer .left a {
    text-decoration: none;
    color: black;
}

footer .right img {
    width: 200px;
    height: 200px;
    
}