body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.navbar {
    background-color: #F79A0A;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

.firma  {
    font-style: italic;
}
.firma-lista {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: black}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  }

  #footer a {
    color: white;
  }

  .lista li {
    list-style: none;
  }