body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container-contenido {
    padding: 25px;
}


.contenido-acercade h2 {
    text-align: center;
}

.contenido-acercade h3 {
    text-align: center;
}

.contenido-acercade p {
    text-align: justify;
}

.contenido-acercade ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contenido-acercade ul li {
    list-style: none;
    font-weight: bold;
    font-style: italic;
    margin: 30px;
}

.contenido-acercade ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
}




.contenido-ubicacion h3 {
    text-align: center;
}

.contenido-ubicacion p {
    text-align: center;
}

.contenido-ubicacion .imagen {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;

}

.contenido-ubicacion img {
    width: 100%;
}


@media only screen and (min-width: 600px) {
    .contenido-ubicacion img {
        max-width: 800px;
    }
}


.indice-inferior ul {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.indice-inferior ul li {
    list-style: none;
    
}

.indice-inferior ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}

.indice-inferior ul li:hover {
    color: black;
}