body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container-contenido {
    padding: 25px;
}


.contenido-acercade h2 {
    text-align: center;
}

.contenido-acercade h3 {
    text-align: center;
}

.contenido-acercade p {
    text-align: justify;
}

.contenido-acercade ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contenido-acercade ul li {
    list-style: none;
    font-weight: bold;
    font-style: italic;
    margin: 30px;
}

.contenido-acercade ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.acercade-datos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.acercade-datos p {
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: blanchedalmond;
    width: 200px;
    height: 200px;
    border: 5px solid blanchedalmond;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    padding: 25px;
}


.contenido-ubicacion h3 {
    text-align: center;
}

.contenido-ubicacion p {
    text-align: center;
}

.contenido-ubicacion .imagen {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;

}

.indice-inferior ul {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.indice-inferior ul li {
    list-style: none;
    
}

.indice-inferior ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}

.indice-inferior ul li:hover {
    color: black;
}