body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container-contenido {
  padding: 25px;
}

.container-contenido section h3 {
    text-align: center;
}

.container-contenido section p {
    font-size: 1rem;
    text-align: justify;
    margin: 50px;
}


.container-contenido .contacto {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.container-contenido .contacto li {
    list-style: none;
    font-weight: bold;
    font-style: italic;
}
.container-contenido section ul a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

.container-contenido .tienda {
    text-align: center;
    margin: 50px    ;
}
.container-contenido section p a {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

.container-contenido section p a {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.container-contenido .gif {
    display: flex;
    justify-content: center;
    width: 100%;
}


.indice-inferior ul {
    display: flex;
    justify-content: start;
    gap: 10px;
}
.indice-inferior ul li {
    list-style: none;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}

.indice-inferior ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 15px;

}

.indice-inferior ul li:hover {
    color: black;
}

